<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>4A1302AB15BDFF14003A441C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4A1302FF15BDFF17003A441C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4A15ED2209E35F0800159C62</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4A15ED3C09E361C000159C62</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4A15ED4509E361E400159C62</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4A2F72D7117840A600F35FA7</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4A3D4297130D1F2500E64C33</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4A4BAA7C1B745B210012B77D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4A50D6FC1164E16D00ED169B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4A5BAA5B13D82BC000C8D5E7</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4A6C5E451794F4E700061A08</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4A8689791AE5D83A00AFC5F7</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4A8689FE1AE5D83C00AFC5F7</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4A941AD01AE5D8D9000FA802</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4A941B551AE5D8DC000FA802</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4A941BDA1AE5D923000FA802</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4A941C5F1AE5D9CE000FA802</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4AC36B62113E654400C86F19</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4ACE00A1130B3F16009D1DA0</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4AD5C4490A390355003F13D4</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4AEAEBAD17A744AA00F61E33</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4AEB26281804A42A002290C5</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4AEB26FD1804A8D8002290C5</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4AF79D750A26A39500E900EC</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
